<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 style="font-family: 'Libre Bodoni', serif;">Welcome to Abid Blogs</h1>
    </header>
    <main>
        <div class="container">
            <div class="new">
            <button class="btnnew">
        <a href="/article/new" style="text-decoration:none; color:white;"> New Article</a> 
    </button> 
</div>
<div class="fle-1">
    <% article.forEach(e=>{ %>
            <div class="items">
                <img src="http://127.0.0.1:8887/<%=e.img%>" class="i-3">
                <div class="i-2" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    <h3><%=e.title%></h3>
                    <p><%=e.demodes%></p>
                    <div class="buttons">
                        <button class="read">
                            <a href="/article/<%=e._id%>">Read More</a>
                        </button>
                        <button class="edit">
                            <a href="/article/edit?_id=<%=e._id%>">Edit</a>
                        </button>
                        <button class="delete">
                            <a href="/article/delete?_id=<%=e._id%>" data-method="delete">Delete</a>
                        </button>
                    </div> 
                    </div>
                </div>
                <% }) %>
            </div>

</div>  
    </main>
</body>
</html>